@model IEnumerable<Library.Models.GenreModel>

@{
    ViewBag.Title = "Index";
}

<h2>Genres</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
@foreach (var item in Model)
{
<div class="bookbox">
    @item.Name
    <br />
    <a href="/Genres/Details/@item.Id"><img src="@item.PhotoUrl" height="200" width="140" /></a>
    <br>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
    @Html.ActionLink("AddToGenre", "AddToGenre", new { id = item.Id }) 
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    }
</div>
}
<style>
    .bookbox {
        display: inline-block;
        height: 300px;
        width: 150px;
    }
</style>